:root {
    --head-black: #2C3E50;
    --hero: #1ABC9C;
    --white: #ffffff;
    --black : #333333;
    --around: #3A546D;
}
header,#footer_down{
    background-color: var(--head-black);
}
#hero,#about {
    background-color: var(--hero);
}
.stella{
    width: 50%;
}
.stella span{
    display: block;
    width: 20%;
    font-size: 2rem;
}
.stella:after,
.stella:before {
    content: '';
    display:block;
    width: 40%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--white)
}
#portafolio, #contact{
    background-color: var(--white);
}
#contact a.send {
    background-color: var(--hero);
    color: #ffffff;
}
.card::after{
    display: flex;
    content: '+';
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(198, 224, 197, 0.8);
    opacity: 0;
    color: white;
}
.card:hover:after {
    opacity: 1;
    cursor: pointer;
}
#footer_up{
    background-color: var(--around);
}
#location, #around, #freelancer h5 {
    text-transform: uppercase;
    color: var(--white);
}
#location, #freelancer{
    width: 250px;
}
#around {
    width: 50%;
} 
#around i{
    padding: 8px;
} 
#freelancer a{
    text-decoration: none;
    
}
